<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zclpro.db.userexpint.impl.UserExpIntMapper">
  <resultMap id="BaseResultMap" type="org.zclpro.db.userexpint.entity.UserExpInt">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="experience" jdbcType="INTEGER" property="experience" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="county_code" jdbcType="INTEGER" property="countyCode" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, experience, integral,county_code
  </sql>
  <insert id="insert" parameterType="org.zclpro.db.userexpint.entity.UserExpInt">
    insert into user_exp_int (user_id, experience, integral, county_code)
    values (#{userId,jdbcType=INTEGER}, #{experience,jdbcType=INTEGER}, #{integral,jdbcType=INTEGER}, #{countyCode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.zclpro.db.userexpint.entity.UserExpInt">
    insert into user_exp_int
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="countyCode != null">
        county_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="countyCode != null">
        #{countyCode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="batchSaveOrUpdate" parameterType="java.util.List">
  	INSERT INTO user_exp_int(user_id, experience, integral, county_code) VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userId,jdbcType=INTEGER}, #{item.experience,jdbcType=INTEGER}, #{item.integral,jdbcType=INTEGER}, #{item.countyCode,jdbcType=INTEGER})
		</foreach>
	ON DUPLICATE KEY UPDATE
	user_id = VALUES(user_id),
	experience = VALUES(experience),
	integral = VALUES(integral),
	county_code = VALUES(county_code);
  </insert>
  <select id="selectByCountyCode" resultMap="BaseResultMap">
       SELECT <include refid="Base_Column_List"></include> FROM user_exp_int
       WHERE 1 = 1
       <if test="countyCode != null">
           AND county_code = #{countyCode,jdbcType=INTEGER}
       </if>
  </select>
</mapper>