<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zclpro.db.constellatory.impl.ConstellatoryYearMapper">
  <resultMap id="BaseResultMap" type="org.zclpro.db.constellatory.entity.ConstellatoryYear">
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="short_info" jdbcType="VARCHAR" property="shortInfo" />
    <result column="detail_info" jdbcType="VARCHAR" property="detailInfo" />
    <result column="career" jdbcType="VARCHAR" property="career" />
    <result column="love" jdbcType="VARCHAR" property="love" />
    <result column="health" jdbcType="VARCHAR" property="health" />
    <result column="finance" jdbcType="VARCHAR" property="finance" />
    <result column="luckey_stone" jdbcType="VARCHAR" property="luckeyStone" />
    <result column="future" jdbcType="VARCHAR" property="future" />
  </resultMap>
  <insert id="insert" parameterType="org.zclpro.db.constellatory.entity.ConstellatoryYear">
    insert into constellatory_year (year, date, name, 
      code, short_info, detail_info, 
      career, love, health, 
      finance, luckey_stone, future
      )
    values (#{year,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=INTEGER}, #{shortInfo,jdbcType=VARCHAR}, #{detailInfo,jdbcType=VARCHAR}, 
      #{career,jdbcType=VARCHAR}, #{love,jdbcType=VARCHAR}, #{health,jdbcType=VARCHAR}, 
      #{finance,jdbcType=VARCHAR}, #{luckeyStone,jdbcType=VARCHAR}, #{future,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zclpro.db.constellatory.entity.ConstellatoryYear">
    insert into constellatory_year
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="year != null">
        year,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="shortInfo != null">
        short_info,
      </if>
      <if test="detailInfo != null">
        detail_info,
      </if>
      <if test="career != null">
        career,
      </if>
      <if test="love != null">
        love,
      </if>
      <if test="health != null">
        health,
      </if>
      <if test="finance != null">
        finance,
      </if>
      <if test="luckeyStone != null">
        luckey_stone,
      </if>
      <if test="future != null">
        future,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="shortInfo != null">
        #{shortInfo,jdbcType=VARCHAR},
      </if>
      <if test="detailInfo != null">
        #{detailInfo,jdbcType=VARCHAR},
      </if>
      <if test="career != null">
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="love != null">
        #{love,jdbcType=VARCHAR},
      </if>
      <if test="health != null">
        #{health,jdbcType=VARCHAR},
      </if>
      <if test="finance != null">
        #{finance,jdbcType=VARCHAR},
      </if>
      <if test="luckeyStone != null">
        #{luckeyStone,jdbcType=VARCHAR},
      </if>
      <if test="future != null">
        #{future,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="saveOrUpdate" parameterType="org.zclpro.db.constellatory.entity.ConstellatoryYear">
  	INSERT INTO constellatory_year(year, date, name,code, short_info, detail_info,career, love, health, finance, luckey_stone, future) VALUES
  		(#{year,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=INTEGER}, #{shortInfo,jdbcType=VARCHAR}, #{detailInfo,jdbcType=VARCHAR}, 
      #{career,jdbcType=VARCHAR}, #{love,jdbcType=VARCHAR}, #{health,jdbcType=VARCHAR}, 
      #{finance,jdbcType=VARCHAR}, #{luckeyStone,jdbcType=VARCHAR}, #{future,jdbcType=VARCHAR})
	ON DUPLICATE KEY UPDATE
	year = VALUES(year),date = VALUES(date),
	name = VALUES(name),code = VALUES(code),
	short_info = VALUES(short_info),detail_info = VALUES(detail_info),
	career = VALUES(career),love = VALUES(love),
	health = VALUES(health),finance = VALUES(finance),
	luckey_stone = VALUES(luckey_stone),future = VALUES(future);
  </insert>
  <insert id="batchSaveOrUpdate" parameterType="java.util.List">
  	INSERT INTO constellatory_year(year, date, name,code, short_info, detail_info,career, love, health, finance, luckey_stone, future) VALUES
  		<foreach collection="list" item="item" index="index" separator=",">
	  		(#{item.year,jdbcType=INTEGER}, #{item.date,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
	      	#{item.code,jdbcType=INTEGER}, #{item.shortInfo,jdbcType=VARCHAR}, #{item.detailInfo,jdbcType=VARCHAR}, 
	      	#{item.career,jdbcType=VARCHAR}, #{item.love,jdbcType=VARCHAR}, #{item.health,jdbcType=VARCHAR}, 
	      	#{item.finance,jdbcType=VARCHAR}, #{item.luckeyStone,jdbcType=VARCHAR}, #{item.future,jdbcType=VARCHAR})
	    </foreach>
	ON DUPLICATE KEY UPDATE
	year = VALUES(year),date = VALUES(date),
	name = VALUES(name),code = VALUES(code),
	short_info = VALUES(short_info),detail_info = VALUES(detail_info),
	career = VALUES(career),love = VALUES(love),
	health = VALUES(health),finance = VALUES(finance),
	luckey_stone = VALUES(luckey_stone),future = VALUES(future);
  </insert>
</mapper>