<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zclpro.db.myh.impl.MyhTaskMapper">
	<insert id="batchInsertHospitalInfo" parameterType="java.util.List">
        INSERT  INTO myh_hospital_info(
  			`hospital_id`,
  			`hospital_name`,
  			`hospital_tag`,
  			`hospital_address`,
  			`area_code`,
		  	`area_name`,
		  	`rank`
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
			(#{item.hospitalId},#{item.hospitalName}, #{item.hospitalTag}, #{item.hospitalAddress}, #{item.areaCode}, #{item.areaName},#{item.rank})
		</foreach>
		ON DUPLICATE KEY UPDATE
		hospital_id = VALUES(hospital_id),
		hospital_name = VALUES(hospital_name),
		hospital_tag = VALUES(hospital_tag),
		hospital_address = VALUES(hospital_address),
		department_name = VALUES(department_name),
		area_code = VALUES(area_code),
		area_name = VALUES(area_name);
    </insert>
    
	<insert id="batchInsertHospitalDepartment" parameterType="java.util.List">
        INSERT IGNORE INTO myh_hospital_department(
  			`department_id`,
  			`department_name`,
  			`parent_department_id`,
  			`department_level`,
		  	`hospital_id`,
  			`area_code`,
		  	`area_name`
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
			(#{item.departmentId},#{item.departmentName}, #{item.parentDepartmentId}, #{item.departmentLevel}, #{item.hospitalId},#{item.areaCode}, #{item.areaName})
		</foreach>
		ON DUPLICATE KEY UPDATE
		department_id = VALUES(department_id),
		department_name = VALUES(department_name),
		parent_department_id = VALUES(parent_department_id),
		department_level = VALUES(department_level),
		hospital_id = VALUES(hospital_id),
		area_code = VALUES(area_code),
		area_name = VALUES(area_name);
    </insert>
			
	<insert id="batchInsertHospitalDoctor" parameterType="java.util.List">
        INSERT IGNORE INTO myh_hospital_doctor(
  			`doctor_id`,
  			`doctor_name`,
  			`doctor_image`,
  			`doctor_title`,
  			`doctor_good_at`,
		  	`hospital_id`,
		  	`hospital_name`,
  			`department_id`,
  			`department_name`,
  			`rank`,
  			`area_code`,
		  	`area_name`
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
			(#{item.doctorId},#{item.doctorName}, #{item.doctorImage}, #{item.doctorTitles},#{item.doctorGoodAt},
			 #{item.hospitalId},#{item.hospitalName},#{item.departmentId},#{item.departmentName},#{item.rank},#{item.areaCode},#{item.areaName})
		</foreach>
		ON DUPLICATE KEY UPDATE
		doctor_id = VALUES(doctor_id),
		doctor_name = VALUES(doctor_name),
		doctor_image = VALUES(doctor_image),
		doctor_title = VALUES(doctor_title),
		doctor_good_at = VALUES(doctor_good_at),
		hospital_id = VALUES(hospital_id),
		hospital_name = VALUES(hospital_name),
		department_id = VALUES(department_id),
		department_name = VALUES(department_name),
		rank = VALUES(rank),
		area_code = VALUES(area_code),
		area_name = VALUES(area_name);
    </insert>
    
	<insert id="singleInsertHospitalDoctor" parameterType="org.zclpro.db.myh.entity.MyhHospitalDoctorDto">
        INSERT IGNORE INTO myh_hospital_doctor(
  			`doctor_id`,
  			`doctor_name`,
  			`doctor_image`,
  			`doctor_title`,
  			`doctor_good_at`,
		  	`hospital_id`,
		  	`hospital_name`,
  			`department_id`,
  			`department_name`,
  			`rank`,
  			`area_code`,
		  	`area_name`
        )VALUES
			(#{doctorId},#{doctorName},#{doctorImage},#{doctorTitles},#{doctorGoodAt},
			 #{hospitalId},#{hospitalName},#{departmentId},#{departmentName},#{rank},#{areaCode},#{areaName})
		ON DUPLICATE KEY UPDATE
		doctor_id = VALUES(doctor_id),
		doctor_name = VALUES(doctor_name),
		doctor_image = VALUES(doctor_image),
		doctor_title = VALUES(doctor_title),
		doctor_good_at = VALUES(doctor_good_at),
		hospital_id = VALUES(hospital_id),
		hospital_name = VALUES(hospital_name),
		department_id = VALUES(department_id),
		department_name = VALUES(department_name),
		rank = VALUES(rank),
		area_code = VALUES(area_code),
		area_name = VALUES(area_name);	 
    </insert>
    
   
	
	<insert id="batchSaveOrUpdateDoctorDuty" parameterType="java.util.List">
	  	INSERT INTO myh_doctor_duty(doctor_id, doctor_name, hospital_id, hospital_name,department_id,department_name,duty_type,
	  	duty_mon,duty_tues,duty_wed,duty_thurs,duty_fri,duty_sat,duty_sun,area_code,area_name) VALUES
	  		<foreach collection="list" item="item" index="index" separator=",">
			(
				#{item.doctorId},#{item.doctorName},#{item.hospitalId},#{item.hospitalName},#{item.departmentId},#{item.departmentName},#{item.dutyType}, 
				#{item.dutyMon},#{item.dutyTues},#{item.dutyWed},#{item.dutyThurs},#{item.dutyFri},#{item.dutySat},#{item.dutySun},#{item.areaCode},#{item.areaName}
			)
			</foreach>
		ON DUPLICATE KEY UPDATE
		doctor_id = VALUES(doctor_id),
		doctor_name = VALUES(doctor_name),
		hospital_id = VALUES(hospital_id),
		hospital_name = VALUES(hospital_name),
		department_id = VALUES(department_id),
		department_name = VALUES(department_name),
		duty_type = VALUES(duty_type),
		duty_mon = VALUES(duty_mon),
		duty_tues = VALUES(duty_tues),
		duty_wed = VALUES(duty_wed),
		duty_thurs = VALUES(duty_thurs),
		duty_fri = VALUES(duty_fri),
		duty_sat = VALUES(duty_sat),
		duty_sun = VALUES(duty_sun),
		area_code = VALUES(area_code),
		area_name = VALUES(area_name);
  </insert>
  
  
    
</mapper>